<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Test</title>
    </head>
    <body>
        {% for qq in quizes %}
            <b class="font-weight-bold">{{ qq.question }}</b>
            <form>
                <input type="radio" name='test' value='True'>True</input>
                <input type="radio" name='test' value='False'>False</input>
            </form>
            <br/>
        {% endfor %}
        <a class='btn btn-primary'>Submit</a>
    </body>
</html>